<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink='/'>Recipe Book</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li routerLinkActive="active">
                <a class="nav-link" routerLink='/recipes'>Recipes <span
                        class="sr-only">(current)</span></a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink='/shoppinglist'>Shopping list</a>
            </li>
            <div ngbDropdown class="d-inline-block" appDropdown>
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="onSave()">Save Data</button>
                    <button ngbDropdownItem (click)="onFetch()">Fetch Data</button>
                </div>
            </div>
         </ul>
    </div>
</nav>

