<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">       
        <div ngbDropdown class="d-inline-block" appDropdown>
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage Recipe</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="onAddtoShoppinglist()" style="cursor: pointer;">To shopping list</button>
              <button ngbDropdownItem style="cursor: pointer;" (click)="onEditRecipe()">Edit list</button>
              <button ngbDropdownItem style="cursor: pointer;" (click)="onDeleteRecipe()">Delete list</button>
            </div>
          </div>
        </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingrediant of recipe.ingrediants">
                {{ingrediant.name}} - {{ingrediant.amount }}
            </li>
        </ul>
    </div>
</div>